body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

.container {
  width: 320px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

input {
  padding: 10px;
  width: 60%;
}

button {
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e3e3e3;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  transition: background 0.3s;
}

li:hover {
  background: #cce7ff;
}

.delete-btn {
  background: red;
  color: #fff;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 4px;
}
.add_btn{
  background-color: rgb(24, 173, 24);
  color: white;
   border-radius: 5px;
   border-width: 0px;
   
}
.save_btn{
  background-color: skyblue;
  color: black;
  border-radius: 5px;
  border-width: 0px;
}